docker:
  base_dir: "/opt/docker"

services:
  traefik:
    subdomain: dashboard
    metrics_domain: metrics
    dashboard_user: admin
    dashboard_password:
  portainer:
    subdomain: portainer
    admin_password:
  uptimekuma:
    subdomain: status
  watchtower:
    telegram_url:
  authentik:
    subdomain: auth
    database_password: 
    secret_key: 
    token: 
  gitea:
    subdomain: git
  jenkins:
    subdomain: jenkins
  kanboard:
    subdomain: kanboard
  etherpad:
    subdomain: pad
  hedgedoc:
    subdomain: md
  hesk:
    subdomain: hesk
  onlyoffice:
    subdomain: onlyoffice
    secret_token: 

monitoring:
  metrics:
    url: "https://prometheus-prod-01-eu-west-0.grafana.net/api/prom/push"
    username: "000000"
    password: "token"
  logs:
    url: "https://logs-prod-eu-west-0.grafana.net/loki/api/v1/push"
    username: "000000"
    password: "token"

mailer:
  smtp_addr:
  smtp_user:
  smtp_password:

telegram: 
  chatid: 000000000
  token: 0000000000:xxxxxxx-xxxxxxxxxx-xxxxxxxxxxxxxxxx
