docker:
  base_dir: "/opt/docker"

services:
  traefik:
    subdomain: dashboard
    metrics_domain: metrics
    dashboard_user: admin
    dashboard_password:
  portainer:
    subdomain: portainer
    admin_password:
  uptimekuma:
    subdomain: status
  watchtower:
    telegram_url:
  authentik:
    subdomain: auth
    database_password: 
    secret_key: 
  gitea:
    subdomain: git
  jenkins:
    subdomain: jenkins
  kanboard:
    subdomain: kanboard
  etherpad:
    subdomain: pad
  hedgedoc:
    subdomain: md
  hesk:
    subdomain: hesk
  onlyoffice:
    subdomain: onlyoffice
    secret_token: 

mailer:
  smtp_addr:
  smtp_user:
  smtp_password:
