docker:
  base_dir: "/opt/containers"

backup:
  directory: "/backup"

subdomains:
  traefik: dashboard
  traefik_metrics: metrics
  portainer: portainer
  uptimekuma: status
  authentik: auth
  gitea: git
  jenkins: jenkins
  kanboard: kanboard
  etherpad: pad
  hedgedoc: md
  hesk: hesk
  onlyoffice: onlyoffice
  homepage: ei

monitoring:
  metrics:
    url: "https://prometheus-prod-01-eu-west-0.grafana.net/api/prom/push"
    username:
    password:
  logs:
    url: "https://logs-prod-eu-west-0.grafana.net/loki/api/v1/push"
    username:
    password:

mail:
  smtp_addr:
  smtp_user:
  smtp_password:

telegram:
  chatid:
  token:

recaptcha:
  public:
  private:
