- name: Create directory for storing backups
  ansible.builtin.file:
    path: "{{ backup.directory }}"
    state: directory
    mode: "0644"

- name: Find all backup archives that are older than 10 days
  ansible.builtin.find:
    path: "{{ backup.directory }}"
    age: 10d
    recurse: true
  register: old_backup_archives

- name: Output debug message when deleting an old backup archive
  ansible.builtin.debug:
    msg: "Deleting file: {{ item.path }}"
  with_items: "{{ old_backup_archives.files }}"

- name: Delete all old backup files
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  with_items: "{{ old_backup_archives.files }}"

- name: Backup all volumes into tar.gz
  ansible.builtin.command:
    # TODO: Check whether to use "tar czvf /backup/xxx.tar.gz --directory /data .
    cmd: "docker run --rm -v {{ item }}:/data:ro -v {{ backup.directory }}:/backup busybox tar -czvf /backup/{{ item }}_{{ ansible_date_time.date }}.tar.gz /data"
  changed_when: true
  loop: "{{ backup_volumes }}"

- name: Create directory for scripts
  ansible.builtin.file:
    path: "{{ scripts.base_dir }}"
    state: directory
    mode: "0644"

- name: Copy template for backup script to remote host
  ansible.builtin.template:
    src: backup.sh.j2
    dest: "{{ scripts.base_dir }}/backup.sh"
    mode: "0755"

- name: Create cron job for backup script
  ansible.builtin.cron:
    name: "Backup all Docker volumes"
    minute: "0"
    hour: "3"
    weekday: "1,3,5"
    job: "{{ scripts.base_dir }}/backup.sh"
    state: present
