- name: Add a new admin user '{{ admin.name }}'
  become: true
  #become_method: sudo
  ansible.builtin.user:
    name: "{{ admin.name }}"
    comment: "{{ admin.fullname }}"
    shell: /bin/bash
    groups: sudo
    append: yes

- name: Enable passwordless sudo for admin user '{{ admin.name }}'
  become: true
  lineinfile:
    dest: /etc/sudoers
    state: present
    regexp: "^{{ admin.name }}"
    line: "{{ admin.name }} ALL=(ALL) NOPASSWD: ALL"
    validate: "visudo -cf %s"
