- name: Restart sshd
  become: true
  ansible.builtin.service:
    name: ssh
    state: restarted

- name: Update resolvconf
  become: true
  ansible.builtin.command: resolvconf -u
  changed_when: true
